*{
    max-width: 100%;
    /* font-family: 'Bitter', serif;
font-family: 'Square Peg', cursive; */
}
body {
    background-color: #ff9b54;
}

header {
    background-color: #ce4257;
    margin-top: -10px;
    width: 100%;
    padding-top: 0.3%;
}
h1 {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 3rem;
    color: #3d0109;
}
nav {
    display: flex;
    justify-content: space-around;
    
}
nav a {
    padding: 0.5% 3%;
    background-color: #720026;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Square Peg', cursive;
    font-size: 1.5rem;
}
nav a:hover {
    transition: 0.2s;
    background-color: #ff7f51;
    color: #4f000b;
    text-decoration: underline;
}
.navAddOn {
    padding: 0.5% 3%;
    background-color: #720026;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Square Peg', cursive;
    font-size: 1.5rem;
}
.navAddOn:hover {
    transition: 0.2s;
    background-color: #ff7f51;
    color: #4f000b;
    text-decoration: underline;
}
.aboutMe {
    display: flex;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: center;
    max-width: 30%;
}
.right {
    max-width: 40%;
    padding-top: 2%;
    font-family: 'Square Peg', cursive;
    font-size: 2rem;
    text-align: center;
}

.aboutPic {
    padding-top: 5%;
    border-radius: 50%;
    padding-right: 30px;
}
.newPage {
    margin-top: 2%;
    border-radius: 50%;
    max-width: 40%;
}
span {
    font-weight: bold;
}
.projects {
    width: 90%;
    margin: 5%;
    background-color: #fab55b;
    padding: 20px 0;
    border-radius: 30px;
}
.upper, .lower {
    display: flex;
    padding: 2% 0;
}
.home {
    padding: 0 3%;
}
.hold {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hold a {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: #4f000b;
    text-decoration: none;
}
.hold h2 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #4f000b;
}
.hold a:hover {
   color: white; 
   text-decoration: underline;
}

footer {
    margin: 0 10%;
    text-align: center;
    background-color: #ce4257;
    padding: 1%;
    border-radius: 30px;
}
h3 {
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    color: #3d0109;
}
.one, .two, .three {
    display: flex;
    padding: 2%;
    justify-content: center;
    font-family: 'Square Peg', cursive;
}
.aboutLeft, .aboutRight{
    display:flex;
    max-width: 40%;
}
.aboutRight {
    justify-content: flex-start;
}
.aboutLeft {
    max-width: 40%;
    justify-content: flex-start;
}
.two {
    justify-content: flex-end;
    padding-right: 10%;
}
.text {
    padding: 0 3%;
    color: #3d0109;
}
.text h2 {
    text-align: center;
    font-size: 5rem;
    margin-top: 0;
}
.text p {
    font-size: 2rem;
}
.proj {
    padding: 5%;
    text-align: center;
}
.onPage {
    width: 60%;
}
.proj p {
    padding: 5%;
    background-color: #fab55b;
    border-radius: 30px;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    color: #3d0109;
}
.ending {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 2.3rem;
    color: #3d0109;
    padding-bottom: 10%;
}
.endButton {
font-size: 2.5rem;
}
.contactFiller {
    height: 5in;
}